* {
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}
body {
    background-color: #fff;
    width: 100%;
}
.container {
    width: 85%;
    margin: 0 auto;
    /* background-color: #fff; */
}

/* ------------------------------------------------------------ */

.top{
    background-color: #fff;
    padding: 5px 0;
    text-align: right;
    color:#777;
}
.top a{
    color:#777;
    text-decoration: none;
    padding: 0 10px;
}
.top a:hover{
    color: #333;
}
/* End Top ------------------------------------------------------- */

header, footer {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
}
header ul{
    list-style-type: none;
    display: block;
    overflow: auto;
}

header li{
    float:left;
    padding: 20px;
}

header li .type{
    margin-top: 10px;
}
header li .type a:hover{
    color: #ffc000;
}

header li .user{
    float: left;
    padding: 8px;
    margin-right: 15px;
}

header li .search{
    background-color: #fff;
    padding: 8px;
    border-radius: 20px;
    float: left;
}

header li .search:hover{
    background: #ffc000;
}

header li .search a{
    color: #333;
    font-weight: 100;
}

header li a{
    text-decoration: none;
    color:#fff;
    font-weight: 700;
    padding-left: 40px;
}

footer{
    padding: 10px;
}
/* End header ----------------------------------------------------- */


/* End navbar ----------------------------------------------------- */
.hot {
    padding: 0 auto;
    background-color: rgb(235, 235, 235);
}

.hot h1 {
    color: #f32626;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background: #fff;
}
/*End hotbar--------------------------------------------------------------*/
.category{
    float: left;
    padding-left:150px;
    padding-top: 20px;
    overflow: auto;
}
.category h2{
    font-weight:bold;
    padding: 0 40px;
}
.category li{
    padding: 10px 40px;
    transition: background-color 0.3s;
    list-style-type: none;
    
}
.category li:hover{
    background-color: #999;
    padding: 10px 40px;
    transition-timing-function: ease-in-out;
}
.category a{
    text-decoration: none;
    color: #333;
}
/* End category ------------------------------------------------------ */
.display{
    background-color: rgb(255, 255, 255);
    overflow: auto;
}
.display a{
    text-decoration: none;
}
.grid-container{
    margin: 40px auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 210px 210px 210px 210px;
    grid-column-gap: 25px;
    grid-row-gap: 40px;
}

.item {
    border: 1px solid #999;
    width: 210px;
}
.item:hover{
    border: 3px solid #ffc000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-description{
    padding: 10px;
}
.clothes{
    width: 210px;
}



#banner {
    padding: 1em 0 3em 0;
    background-image: url(../images/bg-main.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

    #banner:before {
        content: '';
        background: rgba(75, 75, 93, 0.90);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    #banner .inner {
        position: relative;
        z-index: 1;
        padding-top: 8em;
    }

    h4 {
		/*color: rgb(58, 57, 57);*/
		font-weight: 400;
		/*line-height: 1.5;*/
		margin: 0 0 1em 0;
	}

    #banner h4 {
        font-size: 3.5em;
        font-weight: 400;
        color: #fff;
        line-height: 1em;
        margin: 0 0 1em 0;
        padding: 0;
    }

@media only screen and (max-width: 1370px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }
    .category{
        float: left;
        padding-left:10px;
        padding-top: 20px;
        overflow: auto;
    }
}

@media only screen and (max-width: 1190px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .category{
        float: left;
        padding-left:10px;
        padding-top: 20px;
        overflow: auto;
    }
}
@media only screen and (max-width: 1110px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .category{
        float: left;
        padding-left:5px;
        padding-top: 20px;
        overflow: auto;
    }
    .grid-container{
        padding-left: 30px;
        padding-right: 30px;
        margin: 40px auto;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 40px;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .category{
        float: left;
        padding-left:5px;
        padding-top: 20px;
        overflow: auto;
    }
    .grid-container{
        padding-left: 30px;
        padding-right: 30px;
        margin: 40px auto;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 40px;
    }
}