* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    width: 100%;
}
.container {
    width: 85%;
    margin: 0 auto;
}

.search_head{
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.search_result{
    margin: 30px 100px;
    text-align: center;
}

.search_result h1{
    padding: 30px;
}
/*.bg {
    margin-top: 0px;
    background-color: rgb(255, 21, 130);
    padding: 3em;
    line-height: 1.5em; }*/
  


.item1 {
    border: 4px solid rgb(75, 70, 74);
    width: 250px;
    float: left;
    overflow: auto;
    margin: 20px;
}
.item1:hover{
    border: 5px solid #e100ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-description1{
    padding: 10px;
}
.clothes1{
    width: 250px;
    height: 280px;
}

