button.search_btn {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 33%;
    margin-bottom: 26px;
    margin-top: 20px;
    font-size: 16px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    letter-spacing: 1px;
}



.box #viewall{
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    color:#555;
}

.center{
    display: block;
    margin: 0 auto;
    width: 57px;
    padding-bottom: 10px;
}
