<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="../css/index-style.css">
    <link rel="stylesheet" type="text/css" href="../css/login-style.css">
    <link rel="stylesheet" href="../css/eye.css">
    <script src="https://kit.fontawesome.com/a896a7a90e.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</head>

<body>

    <div class="top">
        <div class="container">
            <a href="/" class="logo"><strong>Ware</strong> House</a>
            <a href="aboutus">About us</a>
            |
            <a href="login">Login</a>
        </div>
    </div>
    <header>
        <div class="container">
            <ul>
                <a href="/" class="warehouse">
                    <li>
                        <h1><span style="color: #fff;"><i class="fas fa-tshirt"></i> Ware</span><span style="color: #ffc000;">House</span></h1>
                    </li>
                </a>
                <li>
                    <div class="type">
                        <a href="#">Men</a>
                        <a href="#">Women</a>
                        <a href="#">Kids</a>
                    </div>
                </li>
                <li style="float:right">
                    <div class="search">
                        <a href="search">Search <i class="fas fa-search"></i> </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="box">
        <p class="sign">Sign <b style="color:#ffc000">in</b></p>
        <form class="form1" action="login" method="post">
            <input class="text" type="text" name="username" placeholder="Username" required>
            <input class="text" type="password" name="password" placeholder="Password" required>
            <div class="eye slash" onclick="togglePW()">
                <div></div>
                <div></div>
            </div>
            <button type="submit" class="butt">Login</button>
            <p class="purpose">
                <a href="#" id="pur_left">Forgot Password</a>
                <a href="register" id="pur_right">Sign up</a>
            </p>
        </form>
    </div>
</body>

</html>