<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign up</title>
        
        <link rel="stylesheet" href="../css/index-style.css">
        <link rel="stylesheet" href="../css/login-style.css">
        <link rel="stylesheet" href="../css/eye.css">
        <script src="https://kit.fontawesome.com/a896a7a90e.js" crossorigin="anonymous"></script>
        <script src="app.js"></script>
    </head>
    <body>
        
        <div class="top">
            <div class="container">
                <a href="/" class="logo"><strong>Ware</strong> House</a>
                <a href="aboutus">About us</a>
                |
                <a href="login">Login</a>
            </div>
        </div>
        <header>
            <div class="head-container">
                <ul>
                    <li><h1><i class="fas fa-tshirt"></i> Ware<span style="color: #ffc000;">House</span></h1></li>
                    <li>
                        <div class="type">
                            <a href="#">Men</a>
                            <a href="#">Women</a>
                            <a href="#">Kids</a>
                        </div>
                    </li>
                    <li style="float:right">
                        <div class="search">
                            <a href="search">Search <i class="fas fa-search"></i> </a>
                        </div>
                    </li>
                </ul>
            </div>  
        </header>

        <div class="box">
            <p class="sign">Sign <b style="color:#ffc000">up</b></p>
            <form class="form1" action="register" method="POST">
                <input class="text" type="text" name="firstname" placeholder="Firstname" required pattern="[A-Za-z0-9]{1,}">    
                <input class="text" type="text" name="lastname" placeholder="Lastname" required pattern="[A-Za-z0-9]{1,}">
                <input class="text" type="text" name="username" placeholder="Username" required pattern="[A-Za-z0-9]{1,}">
                <input class="text" type="text" name="email" placeholder="Email" required >
                
                <input class="text" type="number" name="age" placeholder="Age" required pattern="[1-100]">
                <input class="text" type="text" name="address" placeholder="Address" required pattern="{1,}">
                <input class="text" type="password" name = "password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                <div class="eye slash" onclick="togglePW()">
                    <div></div>
                    <div></div>
                </div>
                
                <ul id="hint">
                    <li>At least 8 characters.</li>
                    <li>A mixture of both uppercase and lowercase letters</li>
                    <li>A mixture of letters and numbers.</li>
                    <li>Don't put any special character.</li>
                </ul>
                <input class="text" type="password" placeholder="Confirm Password" required>
                <button type="submit" class="butt">Sign up</button>
                <p class = "purpose">  
                    <a href="login" id="pur_left">Login</a>
                </p> 
            </form>
        </div>
        <footer></footer>
    </body>
</html>